<template>
    <!-- Area Chart -->
    <div class="col-12">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Calculate Studies</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <form class="user" @submit.prevent>
            <div v-if="errors" class="row">
                <div v-for="(error, index) in errors"
                class="col-12 alert alert-danger">
                    {{ error[0] }}
                    <button type="button" class="close"
                        @click="closeAlert(index)"
                        data-dismiss="alert"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="form-group col-sm-4">
              <label for="studyPerDay">Number study per day</label>
              <input type="text" class="form-control form-control-user" 
              id="studyPerDay" placeholder="Number study per day"
              v-model="formData.studyPerDay" @keypress="onKeyPressPreventStrings">
            </div>
            <div class="form-group col-sm-4">
              <label for="studyGrowthPerMonth">Study growth per month</label>
              <input type="text" class="form-control form-control-user" 
              id="studyGrowthPerMonth" placeholder="Study growth per month in %" 
              v-model="formData.studyGrowthPerMonth" @keypress="onKeyPressPreventStrings">
            </div>
            <div class="form-group col-sm-4">
              <label for="monthsToForecast">Number Months to forecast</label>
              <input type="text" class="form-control form-control-user" 
              id="monthsToForecast" placeholder="Number Months to forecast"
              v-model="formData.monthsToForecast" @keypress="onKeyPressPreventStrings">
            </div>
            <div class="form-grop col-lg">
                <a href="#" class="btn btn-success btn-user btn-lg mr-2"
                    @click="onSubmit">
                  Submit
                </a>
                <a href="#" @click="clear" class="btn btn-secondary btn-user btn-lg">
                  Clear
                </a>
            </div>
          </form>
        </div>
      </div>
    </div>
</template>

<script>
    export default {
        data: () => {
            return {
                formData: {
                   studyPerDay: null,
                   studyGrowthPerMonth: null,
                   monthsToForecast: null
                },

                response: null,
                errors: null
            }
        },
        methods: {
            /**
              * Submit the figures to get its forecast
              *
              * @param event Object The event handler object.
              */ 
            onSubmit: function ( event ) {
                event.preventDefault();
                let requestBody = {
                    'study_per_day': this.formData.studyPerDay,
                    'study_growth_per_month': this.formData.studyGrowthPerMonth,
                    'months_to_forecast': this.formData.monthsToForecast
                };

                // This is the AJAX call to post figures for calculation
                // if the responses is successful, we have to emit the response data
                // up to the parent.
                axios
                    .post('/api/study', {
                        data: requestBody 
                    })
                    .then( response => {
                        this.errors = null; // Reset form

                        // Emit data up-to the parent module
                        this.$emit('on-submit', response.data.data);
                    })
                    .catch( error => {
                        this.errors = error.response.data.message;
                    });
            },

            /**
              * This just prevents the user from spamming string values
              *
              * @param event Object The event handler object.
              */ 
            onKeyPressPreventStrings: function ( event ) {
                if (!/\d/.test(event.key) && event.key !== '.') return event.preventDefault(); 
            },

            /**
              * Closes any presence of alert
              *
              * @param event Object The event handler object.
              */ 
            closeAlert: function ( key ) {
                event.preventDefault();

                delete this.errors[ key ];
            },

            /**
              * Clears the form
              *
              * @param event Object The event handler object.
              */ 
            clear: function () {
                event.preventDefault();

                this.formData = {
                   studyPerDay: null,
                   studyGrowthPerMonth: null,
                   monthsToForecast: null
                };
            }
        }
    }
</script>
