<template>
    <div class="table-responsive">
        <table class="table table-bordered" id="datatable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Date</th>
              <th>Number of Studies</th>
              <th>Cost Forecasted</th>
            </tr>
          </thead>
          <tbody>
            <tr v-if="forecasts.length == 0">
                <td colspan="3">No results found</td>
            </tr>
            <tr v-else v-for="item in forecasts">
                <td>{{ item.date }}</td>
                <td>{{ item.number_of_studies }}</td>
                <td>{{ item.month_cost }}</td>
            </tr>
          </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        data: () => {
            return {
                response: null,
                errors: null
            }
        },
        props: {
            forecasts: Array
        },
    }
</script>
